.navBar {
  /*background-color: green;
  /* margin-left: 5%; */
}
.logo {
  float: left;
  font-size: 2rem;
  font-weight: bold;
  color: #e9aa53;
  cursor: pointer;
  margin-right: 2rem;
}
.logo:hover {
  text-decoration: none;
}

.navItem {
  float: right;
}

a:hover {
  cursor: pointer;
  color: #f0ca95;
}
